

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --font-size-title-extra-large-001: clamp(2.5rem, 5vw + 0.5rem, 4rem);
    --font-size-title-extra-large-002: clamp(2rem, 4vw + 0.5rem, 3rem);

    --font-size-title-large-001: clamp(.9rem, 5vw, 2rem);
    --font-size-title-large-002: clamp(1.5rem, 3vw + 0.5rem, 2rem);

    --font-size-title-medium-001: clamp(.8rem, 5vw, .9rem);
    --font-size-title-medium-002: clamp(1.2rem, 2vw + 0.5rem, 1.5rem);

    --font-size-subtext-large-001: clamp(1rem, 1.5vw + 0.2rem, 1.2rem);
    --font-size-subtext-large-002: clamp(0.8rem, 1vw + 0.2rem, 1rem);

    --clr-dark: #070a12;
    --clr-light: #f9f9fb;
    --clr-accent: #353535;
    --clr-rgba: rgba(51, 51, 51, 0.2);
}

/* ============================================== Googles Font ====================================== */

.inter--font-title {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}
  
.roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}
  
.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  
.roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}
  
.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}
  
.roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
}
  
.roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
}
  
.roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
}
  
.roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
}
  
.roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
}
  
.roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
}
  
.roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
}
  

/* ============================================== Text alignment ====================================== */

.text-align--center {
    text-align: center;
}

.text-align--left {
    text-align: center;
}

.text-align--right {
    text-align: center;
}

/* ============================================== Font-sizes ====================================== */

.font-title--exl {
    font-size: var(--font-size-title-large-001);
}

.font-title--ms {
    font-size: var(--font-size-title-medium-001);
}

.font-subtext--l {
    font-size: var(--font-size-subtext-001);
}

/* ========================================== Font Weight Utiles ==================================== */

.font-thin { 
    font-weight: 100; 
}

.font-light { 
    font-weight: 300;
}

.font-normal {
    font-weight: 400;
}

.font-medium {
    font-weight: 500;
}

.font-bold {
    font-weight: 700;
}

.font-black {
    font-weight: 900;
}

/* ============================================== Unordered-list =========================================== */

.ul-bullet--removed > li {
    list-style-type: none;
}

.ul-list-links--remove-underline > li a {
    text-decoration: none;
}

/* =============================================== Widths-Centerd Margins =================================================== */

.width-xs {
    width: clamp(10rem, 20vw, 15rem);
}

.width-sm {
    width: clamp(15rem, 30vw, 25rem);
}

.width-md {
    width: clamp(20rem, 40vw, 35rem);
}

.width-l {
    width: clamp(30rem, 60vw, 50rem);
}

.width-xl {
    width: clamp(40rem, 80vw, 70rem);
}

.width-xs, .width-xl, .width-l, 
.width-md, .width-sm, .width-xs {
    margin-inline: auto;
}

/* =============================================== Images =================================================== */

img {
    display: block;
    width: 100%;
    height: auto;
}

/* =============================================== flex-layouts =================================================== */

.flex--row {
    display: flex;
}

.flex--col {
    display: flex;
    flex-direction: column;
}

.flex--x-center {
    display: flex;
    justify-content: center;
}

.flex--y-center {
    display: flex;
    align-items: center;
}

.flex--center-all {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex--wrap {
    display: flex;
    flex-wrap: wrap;
}

.flex--no-wrap {
    display: flex;
    flex-wrap: nowrap;
}

/* ======================== Mobile =============================== */
.flex--gap {
    display: flex;
    gap: clamp(10px, 2vw, 20px);
}

/* ======================== Tablet =============================== */
@media (min-width: 768px) {
    .flex--gap {
      gap: clamp(15px, 3vw, 30px);
    }
}
  
/* ======================== Desktop-TV =============================== */
@media (min-width: 1200px) {
    .flex--gap {
        gap: clamp(20px, 4vw, 40px);
    }
}

/* =============================================== grid-layouts =================================================== */

/* ======================== Mobile =============================== */
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(clamp(150px, 25%, 300px), 1fr));
    gap: clamp(10px, 2vw, 20px);
    padding: 10px;
}
  
  /* ======================== Tablet =============================== */
  @media (min-width: 768px) {
    .grid {
      gap: clamp(15px, 3vw, 30px);
      grid-template-columns: repeat(auto-fit, minmax(clamp(200px, 33%, 400px), 1fr));
    }
}
  
  /* ======================== Desktop-TV =============================== */
  @media (min-width: 1200px) {
    .grid {
      gap: clamp(20px, 4vw, 40px);
      grid-template-columns: repeat(auto-fit, minmax(clamp(250px, 40%, 500px), 1fr));
    }
}

/* ========================== For content within grid container ======================== */
.grid-center-x {
    display: grid;
    justify-items: center;
}

.grid-stretch-x {
    display: grid;
    justify-items: stretch;
}

.grid-right-align-x {
    display: grid;
    justify-items: end;
}

.grid-left-align-x {
    display: grid;
    justify-items: start;
}

.grid-top-align-y {
    display: grid;
    align-items: start;
}

.grid-bottom-align-y {
    display: grid;
    align-items: end;
}

.grid-stretch-align-y {
    display: grid;
    align-items: stretch;
}

/* =============================================== Wrappers =================================================== */

.grid-align--center {
    display: grid;
    place-items: center;
}

.grid-align--left {
    display: grid;
    justify-content: start;
}

.grid-align--right {
    display: grid;
    justify-content: end;
}

.grid-align--stretch {
    display: grid;
    justify-content: stretch;
}

.grid-align--space-around-x {
    display: grid;
    justify-content: space-around;
}

.grid-align--space-between-x {
    display: grid;
    justify-content: space-between;
}

.grid-align--space-evenly-x {
    display: grid;
    justify-content: space-evenly;
}

.grid-align--space-around-y {
    display: grid;
    align-content: space-around;
}

.grid-align--space-between-y {
    display: grid;
    align-content: space-between;
}

.grid-align--space-evenly-y {
    display: grid;
    align-content: space-evenly;
}

/* =============================================== Animations =================================================== */

.header-image {
    animation: header-img-animation linear forwards;
    animation-timeline: view() ;
    animation-range: exit ;
}

@keyframes header-img-animation {
    25% { opacity: 1; }
    85%, 100% { opacity: 1; scale: 3;}
}

/*---------------------fade-in-animation-----------------------------------*/

.fade-in {
    scale: .8; opacity: 0;
    animation: fade-in linear forwards;
    animation-timeline: view();
    animation-range: 250px 500px;
}

@keyframes fade-in {
     
   to { scale: 1; opacity: 1;} 
}

/*---------------------fade-out-animation-----------------------------------*/

.fade-out {
    animation: fade-out linear;
    animation-timeline: view() ;
    animation-range: exit -200px;
}
@keyframes fade-out{
    to { opacity: 0;}
}

/*---------------------slide-in-left-animation-----------------------------------*/

@keyframes slideInLeft {
    from {
      transform: translateX(-300px);
    }
  
    to {
      transform: translateX(0);
    }
}
  
  .slideInLeft {
    animation-name: slideInLeft;
    animation-timing-function: ease-in;
}
  
/*---------------------slide-in-right-animation-----------------------------------*/

@keyframes slideInRight {
    from {
        transform: translateX(300px);
    }

    to {
        transform: translateX(0);
    }
}

.slideInRight {
    animation-name: slideInRight;
    animation-timing-function: ease-in;
}

/*---------------------rotate-animation-----------------------------------*/

@keyframes rotate {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}
  
.rotate {
    animation-name: rotate;
    animation-timing-function: linear;

    transform-origin: top left;
}

  /*---------------------bounce-animation-----------------------------------*/
  
@keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-30px);
    }

    60% {
        transform: translateY(-15px);
    }
}

.bounce {
    animation-name: bounce;
}

  /* =============================================== logo-slider =================================================================== */

.slider{
    width: 100%;
    height: var(--height);
    overflow: hidden;
    mask-image: linear-gradient(
        to right,
        transparent,
        #000 10% 90%,
        transparent
    );
}

.slider .list{
    display: flex;
    width: 100%;
    min-width: calc(var(--width) * var(--quantity));
    position: relative;
}

.slider .list .item{
    width: var(--width);
    height: var(--height);
    position: absolute;
    left: 100%;
    animation: autoRun 10s linear infinite;
    transition: filter 0.5s;
    animation-delay: calc( (10s / var(--quantity)) * (var(--position) - 1) - 10s)!important;
}

.slider .list .item img{
    width: 100%;
}

@keyframes autoRun{
    from{
        left: 100%;
    }to{
        left: calc(var(--width) * -1);
    }
}

.slider:hover .item{
    animation-play-state: paused!important;
    filter: grayscale(1);
}

.slider .item:hover{
    filter: grayscale(0);
}

.slider[reverse="true"] .item{
    animation: reversePlay 10s linear infinite;
}

@keyframes reversePlay{
    from{
        left: calc(var(--width) * -1);
    }to{
        left: 100%;
    }
}
  
/* ========================================== btn-transition ================================================= */
  
.btn {
    font-size: 2rem;
    font-weight: 700;
    padding: 0.5em 1em;
    color: var(--clr-accent);
    background-color: var(--clr-rgba);
    border: 10px solid var(--clr-accent);
    border-radius: 5px;
  
    transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
  
    /* transition: all 0.3s; */
}
  
.btn:hover {
    transform: translateY(-10px);
     background-color: var(--clr-accent);
    color: var(--clr-light); 
}